body {
  background: #ff8 url('pikamouse.png') no-repeat bottom right;
  // ie will ignore the svg
  background: rgba(255,255,136,1) url('pikamouse.svg') no-repeat bottom right;
  background-size: 240px auto;
  font-family: 'Raleway', sans-serif;
}

a {
  color: #0078e7;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4 {
  font-family: 'Josefin Sans', sans-serif;
}

h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 20px;
}

.splash {
  background: #0078e7;
  text-align: center;
}

.splash h1 {
  line-height: 1;
  color: #fff;
  text-shadow: 0px 1px 0px #111;
  font-size: 96px;
}

#menu {
  overflow: hidden;
}

#call {
  display: block;
  float: right;
}

#house img {
  display: block;
  width: 240px;
  height: auto;
  margin: 16px auto;
}

.content {
  max-width: 720px;
  margin: 0 auto;
}

.content .l-box {
  margin: 0 16px;
}

.content-ribbon {
  border-top: 1px solid #ccc;
}

@media all and (max-width: 770px) {
  .splash h1 {
    line-height: 1;
    font-size: 32px;
  }
}

footer {
  background: #111;
  color: #666;
  padding: 16px;
  text-align: center;
  margin-top: 24px;
}

footer a {
  color: #fff;
}

#dates {
  font-size: 14px;
  font-weight: bold;
}

#dates li a {
  width: 86px;
  padding: 16px 0px;
}

#event-list h3 {
  margin: 8px;
  text-align: right;
  line-height: 2;
}

.event a {
  overflow: hidden;
  text-decoration: none;
}

.event .description {
  display: none;
  background: #fff;
  padding: 16px;
}
.event.active .description,
.event.now .description {
  display: block;
}
.description p:first-child {
  margin-top: 0;
}

.event {
  margin: 0;
}

.event h4 {
  background: #0078e7;
  padding: 8px 16px;
  margin: 0px;
  border-top: 1px solid #fff;
  color: #fff;
}

.event.now h4 {
  background: #111;
}

.event .time {
  display: block;
  float: right;
  background: #fff;
  line-height: 1;
  padding: 16px 8px 15px 8px;
  margin-left: 8px;
  border-bottom: 1px solid #0078e7;
  font-size: 16px;
  font-family: "Courier New", Courier, monospace;
  color: #111;
}

#random-photo {
  display: block;
  max-height: 480px;
  max-width: 100%;
  margin: 16px auto;
}
