body {
  background: #ff8;
}

a:hover {
  text-decoration: none;
}

.splash {
  background: #0078e7;
  text-align: center;
}

.splash h1 {
  line-height: 6;
  color: #fff;
  text-shadow: 0px 1px 0px #000;
}

#menu {
  overflow: hidden;
}

#call {
  display: block;
  float: right;
}

#house img {
  display: block;
  width: 240px;
  height: auto;
  margin: 16px auto;
}

.content {
  max-width: 640px;
  margin: 0 auto;
}

.content .l-box {
  margin: 0 16px;
}

.content-ribbon {
  border-top: 1px solid #ccc;
}

@media all and (max-width: 770px) {
  .splash h1 {
    line-height: 1;
  }
}

footer {
  background: #111;
  color: #666;
  padding: 16px;
  text-align: center;
  margin-top: 24px;
}

footer a {
  color: #fff;
}