 [{
    :name "Kresge Kickoff"
    :location "Kresge Lawn"
    :description "Find us at Kresge Oval and share our fresh fruit and homemade cookies. Then head to pika for smoothies on our roofdeck."
    :date "08/31"
    :time ["12:00", "13:00"]
  }
  {
    :name "Roof Deck Smoothies"
    :location "pika Roofdeck"
    :description "Throw some stuff in our bicycle blender and use your own pedal power to make a delicious smoothie!"
    :date "08/31"
    :time ["13:30", "16:00"]
  }
  {
    :name "Frisbee"
    :location "A field on campus"
    :description "Meet us at pika at 4:00pm or find us at a field on campus (call 719-330-1188 for location). Then come back to pika for dinner."
    :date "08/31"
    :time ["16:30", "18:00"]
  }
  {
    :name "Indian Dinner"
    :location "pika dining room"
    :description "Sumptuous subcontinental spices."
    :date "08/31"
    :time ["19:00", "20:00"]
  }
  {
    :name "Cafe pika"
    :location "pika dining room"
    :description "After dinner, pika will be transformed into a bohemian cafe experience."
    :date "08/31"
    :time ["20:00", "23:59"]
  }
  {
    :name "Brewing up a Storm"
    :location "pika dining room"
    :description "How many ways can you make a cup of coffee? Experiment with different coffee and espresso methods such as pour-over, aeropress, and moka pot."
    :date "08/31"
    :time ["20:00", "23:59"]
  }
  {
    :name "Baking"
    :location "pika dining room"
    :description "Yeast, yeast, yeast!"
    :date "08/31"
    :time ["20:00", "23:59"]
  }
  {
    :name "Tea Blending"
    :location "pika dining room"
    :description "Earl Grey. Jasmine Green. Oolong. Yerba Mate. Moroccan Mint. What makes a tea blend unique? Remake an old favorite or create your own signature blend with us, then relax and enjoy fine conversation as you sip away at your concoction."
    :date "08/31"
    :time ["20:00", "23:59"]
  }
  {
    :name "Literary Mixtape"
    :location "pika dining room"
    :description "\"If it's true that as I'm talking to you bones are moving in your inner ears, I'm physically touching you with my voice.\" (Etheridge Knight)  Bring your favorite poems or excerpts from books to read aloud and share!"
    :date "08/31"
    :time ["21:30", "23:00"]
  }
  {
    :name "Open Mic and Singalong"
    :location "pika dining room"
    :description "Join our choir of heavenly hippies. Read to us, sing to us, tell us jokes! C'mon, we know you're talented."
    :date "08/31"
    :time ["23:00", "23:59"]
  }

  {
    :name "Solar Telescope"
    :location "pika roofdeck"
    :description "You can see sunspots!"
    :date "09/01"
    :time ["14:30", "16:30"]
  }
  {
    :name "Pirate War with tEp"
    :location "Sailing Pavilion"
    :description "An epic pirate waarr has arraged on forr yeaarrs and yeaarrs between pika and tEp - be tharr on the Chaarrles and help us defend MIT's lands against the perpetratarrs from the Boston side! Meet us at pika at 4:00pm or at the MIT sailing pavillion at 4:30pm. ARRGH!!!!!!"
    :date "09/01"
    :time ["16:30", "17:30"]
  }
  {
    :name "Sushi Making"
    :location "pika kitchen"
    :description "Sea-treats sheathed in rice. / Rice wrapped in gleaming green grace. / Roll sushi with us."
    :date "09/01"
    :time ["17:30", "19:00"]
  }
  {
    :name "Sushi Dinner"
    :location "pika dining room"
    :description "Taste the fruits of your labor (or somebody else's). There will be a variety of sushi, some perhaps substantially more exotic than others."
    :date "09/01"
    :time ["19:00", "20:00"]
  }
  {
    :name "Spinning Staff / Poi Making"
    :location "pika"
    :description "You've seen East Campus do it, now make one of your own under the sage guidance of our resident experts."
    :date "09/01"
    :time ["20:00", "21:00"]
  }
  {
    :name "Spoon Carving"
    :location "pika"
    :description "It is an art and a science."
    :date "09/01"
    :time ["21:00", "22:00"]
  }
  {
    :name "Roofdeck Anime"
    :location "pika roofdeck"
    :description "Relax on the roofdeck, watch some anime, and count the few stars whose radiation makes it through the Boston light pollution."
    :date "09/01"
    :time ["23:00", "23:59"]
  }

  {
    :name "Morning Dérive"
    :location "pika and the streets"
    :description "Wander the streets in a peculiarly philosophical French manner."
    :date "09/02"
    :time ["9:30", "11:00"]
  }
  {
    :name "Mural Painting"
    :location "pika backyard"
    :description "It's not vandalism if we say it isn't."
    :date "09/02"
    :time ["13:00", "15:00"]
  }
  {
    :name "Tie Dyeing"
    :location "pika backyard"
    :description "Dye your tie! Or, like, your shirt, or something. That works too."
    :date "09/02"
    :time ["13:30", "15:00"]
  }
  {
    :name "Henna and Hair Dyeing"
    :location "pika"
    :description "Dye yourself! Make your hair any color of the rainbow--or all of them."
    :date "09/02"
    :time ["14:00", "16:00"]
  }
  {
    :name "pika Hackathon"
    :location "pika"
    :description "Electric Scooters. Wooden Spoons. NERF turrets. Linux Hackery. Robot Arms. Quadcopters. Come see what pikans have been up to, and learn a thing or two on your own! There will be plenty to do and eat all night!"
    :date "09/02"
    :time ["18:00", "23:59"]
  }
  {
    :name "Zombie Bicycles!!"
    :location "pika basement toolshop"
    :description "What can you accomplish with tools and parts?"
    :date "09/02"
    :time ["18:00", "19:00"]
  }
  {
    :name "Linux Until We Die"
    :location "pika"
    :description "Come set up a fileserver with your friendly* neighborhood pikan Linux Haxx0rs. *Only when caffeinated."
    :date "09/02"
    :time ["19:00", "20:00"]
  }
  {
    :name "Tech Showcase"
    :location "pika"
    :description "Electric Scooters. Wooden Spoons. NERF turrets. Linux Hackery. Robot Arms. Quadcopters. Come see what pikans have been up to, and learn a thing or two on your own!"
    :date "09/02"
    :time ["20:00", "21:00"]
  }
  {
    :name "Python-Arduino Interfacing"
    :location "pika"
    :description "Learn how to automate anything!!"
    :date "09/02"
    :time ["21:00", "22:00"]
  }
  {
    :name "MeeMoo"
    :location "pika"
    :description "Did somebody say... Meemoo?"
    :date "09/02"
    :time ["22:00", "23:00"]
  }
  {
    :name "MaKey MaKey"
    :location "pika"
    :description "Make bizarre and inventive interfaces!"
    :date "09/02"
    :time ["22:00", "23:00"]
  }

  {
    :name "Iron Chef pika"
    :location "pika kitchen"
    :description "Garlic. Butter. Cumin. Kale?!? Split into teams, run to the grocery store (budget is on us!) and cook your team to VICTORY! (and prizes, of course)"
    :date "09/03"
    :time ["14:00", "16:00"]
  }
  {
    :name "Dinosaur Eggs!"
    :location "pika"
    :description "..."
    :date "09/03"
    :time ["14:00", "15:00"]
  }
  {
    :name "Shoeblade: The Noble Sport"
    :location "the murf (pika)"
    :description "Celebrate pikan heritage in a tournament like no other: Shoeblade and Forkapple. Match yourself against our top athletes before they head to the 2014 Olympics!"
    :date "09/03"
    :time ["17:00", "19:00"]
  }
  {
    :name "Contact on the Roof"
    :location "pika roofdeck"
    :description "If you like words, games, or the roof, you are certain to be satisfied by the awesome experience you will have on September 3rd around 6:00pm."
    :date "09/03"
    :time ["18:00", "19:00"]
  }
  {
    :name "Polish dinner"
    :location "pika dining room"
    :description "The best Polish food we have ever served!"
    :date "09/03"
    :time ["19:00", "20:00"]
  }
  {
    :name "Learn the Spinning Arts"
    :location "pika backyard"
    :description "Learn the ancient art of staff/poi spinning from our resident experts. Learn to use what you made on Sunday, or borrow gear from us."
    :date "09/03"
    :time ["21:00", "22:00"]
  }

  {
    :name "Orange Foods Dinner"
    :location "pika dining room"
    :description "Taste (the best part of) the rainbow."
    :date "09/04"
    :time ["19:00", "20:30"]
  }
  {
    :name "Italian Dinner"
    :location "pika dining room"
    :description "Tomato & basil & garlic & parm, just like Nonna makes it."
    :date "09/05"
    :time ["19:00", "20:30"]
  }
  {
    :name "Homemade Pizza Dinner"
    :location "pika dining room"
    :description "Homemade Pizza Dinner"
    :date "09/06"
    :time ["19:00", "20:30"]
  }
  {
    :name "Avenue Q"
    :location "Kresge auditorium"
    :description "The Musical Theater Guild will impart valuable life lessons, like what the Internet's for (spoiler: it's for porn). Walk from pika at 7:15pm or meet us at Kresge at 7:45pm."
    :date "09/06"
    :time ["19:30", "21:30"]
  }
  {
    :name "pika on WMBR"
    :location "Walker Memorial"
    :description "Ever wanted to be on the radio? Meet at pika at 11:00 or find us outside Walker at 11:45pm."
    :date "09/06"
    :time ["23:00", "23:59"]
  }

  {
    :name "Rock Climbing"
    :location "Walker Memorial"
    :description "Climb on MIT's wall with pikans. Meet at pika at 4:00pm or in front of Walker Memorial at 4:30pm."
    :date "09/07"
    :time ["16:30", "18:30"]
  }
  {
    :name "pika Dinner"
    :location "pika dining room"
    :description "Find out why pika is most famous for its awesome meal plan. Come meet pikans over a delicious, home-cooked meal."
    :date "09/07"
    :time ["19:00", "20:30"]
  }
  {
    :name "Playground Saga (With Froyo)"
    :location "BerryLine, Cambridge"
    :description "Embark on a treacherous quest to the best frozen yogurt place in the world and test yourself against Cambridge's most geometrically implausible playground."
    :date "09/07"
    :time ["23:00", "23:59"]
  }]
