 [{:name "Dinner and a Musical"
   :location "pika or Kresge (at 7:50pm)"
   :description "You are cordially invited over for *Saturday Theme* dinner and out to watch the Musical Theater Guild's production of Little Shop of Horrors! "
   :date "02/01"
   :time ["18:30", "21:00"]}

  {:name "Cocoa and Campfire"
   :location "pika Roofdeck"
   :description "Drink fancy hot chocolate, warm your hands by a campfire, chill on our roofdeck if the sky is clear. Festivities will begin after dinner."
   :date "02/01"
   :time ["20:00", "22:00"]}

  {:name "Murph Yurt Bean Traders"
   :location "pika sexdungeon (Dining Room)"
   :description "lounge twice indoors, gaining leguminous leverage in this well rounded and easy to learn card game.  no skill required.  lack of skill preferred."
   :date "02/01"
   :time ["17:00", "19:00"]}

  {:name "MIT Bouldering"
   :location "Walker Memorial (3rd floor)"
   :description "Come climb with us at the MIT bouldering wall. Meet at pika at 3:30 or on the third floor of Walker Memorial at 4. "
   :date "02/02"
   :time ["15:30", "18:00"]}

  {:name "Firestaff making"
   :location "pika backyard"
   :description "Learn how to build your own firestaff, a tradition dating back to the Pikan Ancients of 1969"
   :date "02/02"
   :time ["17:00", "19:00"]}

  {:name "Pika goes to WMBR"
   :location ""
   :description "Your voice can be heard. Make an appearance on WMBR at 1 AM. Meet at pika at 12:30, or Walker Memorial at 12:50."
   :date "02/03"
   :time ["00:30", "02:15"]}

  {:name "Daxophone: an aural, tactile, mammalian experience"
   :location "the murph"
   :description "tickle it, slap it, bow it.  create sounds.  be delighted and amused."
   :date "02/03"
   :time ["20:00", "22:00"]}

  {:name "Roll your own Sushi Dinner"
   :location "pika Dining Room"
   :description "Have you ever wanted to make your own scrumptous sushi concoction? Now's your chance. Plenty of tasty ingredients will be provided."
   :date "02/03"
   :time ["17:30", "20:00"]}

  {:name "Painting Murals"
   :location "the walls of pika"
   :description "Come help decorate the walls of pika"
   :date "02/03"
   :time ["14:00", "16:00"]}

  {:name "Learn to spin poi, staff, etc..."
   :location "pika backyard"
   :description ""
   :date "02/03"
   :time ["15:00", "17:00"]}

  {:name "Loose-Leaf Tea Party"
   :location "pika dining room"
   :description "Make your own revolutionary flavors of tea by combining an assortment of provided ingredients."
   :date "02/04"
   :time ["20:00", "22:00"]}

  {:name "Poetry Slam"
   :location "pika (the murph)"
   :description "Say poems, hear poems"
   :date "02/04"
   :time ["20:00", "22:00"]}

  {:name "Claymation"
   :location "pika"
   :description "Spend the evening collaborating on your very own claymation: a frame-by-frame animated short. Clay and produce will be provided."
   :date "02/05"
   :time ["17:00", "19:00"]}

  {:name "Hair Dyeing"
   :location "pika"
   :description "We've got the bleach and all the colors and absolutely no training, but want to make the colors happen"
   :date "02/05"
   :time ["20:00", "22:00"]}

  {:name "Friendship Bracelets & Subversive Cross Stitching"
   :location "pika"
   :description "Make some bracelets for your friends or come embroider your favorite lyric or whatever you like"
   :date "02/05"
   :time ["17:00", "19:00"]}]
